In [4]:
import pandas as pd
import numpy as np

In [55]:
df=pd.read_csv(r"C:\Users\MACHINE\Documents\5th sem\internship\contact\Gowalla_totalCheckins.txt" , names=['row','Date','Lat','long','loc id'] ,delimiter='\t')

In [6]:
df.describe

<bound method NDFrame.describe of             row                  Date        Lat       long   loc id
0             0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1             0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2             0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3             0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4             0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
...         ...                   ...        ...        ...      ...
6442887  196578  2010-06-11T13:32:26Z  51.742988  -0.488065   906885
6442888  196578  2010-06-11T13:26:45Z  51.746492  -0.490780   965121
6442889  196578  2010-06-11T13:26:34Z  51.741916  -0.496729  1174322
6442890  196585  2010-10-08T21:01:49Z  50.105516   8.571525   471724
6442891  196585  2010-10-07T17:39:18Z  50.027812   8.785098  4555073

[6442892 rows x 5 columns]>

In [56]:
df_100=df.head(100)
print(df_100)

    row                  Date        Lat       long   loc id
0     0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1     0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2     0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3     0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4     0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
..  ...                   ...        ...        ...      ...
95    0  2010-08-25T02:03:08Z  30.263775 -97.770660     9263
96    0  2010-08-24T17:33:20Z  30.270734 -97.753703     9241
97    0  2010-08-24T16:26:53Z  30.269103 -97.749395   420315
98    0  2010-08-23T14:45:49Z  30.267910 -97.749312    21714
99    0  2010-08-21T18:10:00Z  30.244860 -97.757163    18417

[100 rows x 5 columns]

In [ ]:
#splits date and time into 2 columns

In [78]:
def conv(df_100):
    #df_100['Time']=pd.to_datetime(df['Date']).dt.time
    df_100['Dates'] = pd.to_datetime(df['Date'])
    return df_100
    print(df_100)
df_100=conv(df_100)

<ipython-input-78-5fff3a5f6b96>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_100['Dates'] = pd.to_datetime(df['Date'])

In [79]:
print(df_100)

    row                  Date        Lat       long   loc id  \
99    0  2010-08-21T18:10:00Z  30.244860 -97.757163    18417
98    0  2010-08-23T14:45:49Z  30.267910 -97.749312    21714
97    0  2010-08-24T16:26:53Z  30.269103 -97.749395   420315
96    0  2010-08-24T17:33:20Z  30.270734 -97.753703     9241
95    0  2010-08-25T02:03:08Z  30.263775 -97.770660     9263
..  ...                   ...        ...        ...      ...
4     0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
3     0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
2     0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
1     0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
0     0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847

                       Dates
99 2010-08-21 18:10:00+00:00
98 2010-08-23 14:45:49+00:00
97 2010-08-24 16:26:53+00:00
96 2010-08-24 17:33:20+00:00
95 2010-08-25 02:03:08+00:00
..                       ...
4  2010-10-16 18:50:42+00:00
3  2010-10-17 19:26:05+00:00
2  2010-10-17 23:42:03+00:00
1  2010-10-18 22:17:43+00:00
0  2010-10-19 23:55:27+00:00

[100 rows x 6 columns]

In [48]:
#df_100.set_index("Date",inplace=True)

In [60]:
df_100.sort_values('Date',inplace=True)

<ipython-input-60-fe0bd6fbd25e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_100.sort_values('Date',inplace=True)

In [61]:
df_100

,row,Date,Lat,long,loc id,Dates
99,0,2010-08-21T18:10:00Z,30.244860,-97.757163,18417,2010-08-21 18:10:00+00:00
98,0,2010-08-23T14:45:49Z,30.267910,-97.749312,21714,2010-08-23 14:45:49+00:00
97,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,2010-08-24 16:26:53+00:00
96,0,2010-08-24T17:33:20Z,30.270734,-97.753703,9241,2010-08-24 17:33:20+00:00
95,0,2010-08-25T02:03:08Z,30.263775,-97.770660,9263,2010-08-25 02:03:08+00:00
...,...,...,...,...,...,...
4,0,2010-10-16T18:50:42Z,30.274292,-97.740523,5535878,2010-10-16 18:50:42+00:00
3,0,2010-10-17T19:26:05Z,30.263418,-97.757597,16516,2010-10-17 19:26:05+00:00
2,0,2010-10-17T23:42:03Z,30.255731,-97.763386,316637,2010-10-17 23:42:03+00:00
1,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,2010-10-18 22:17:43+00:00
0,0,2010-10-19T23:55:27Z,30.235909,-97.795140,22847,2010-10-19 23:55:27+00:00

In [80]:
def fun(fromdate,fromtime,todate,totime):
    fromd=fromdate+fromtime
    tod=todate+totime
    print(df_100.loc[(df_100['Dates'] > fromd) & (df_100['Dates'] <= tod)])
    
    
fun('2010-9-1', ' 5:00:00','2010-10-15',' 22:02:11')

    row                  Date        Lat       long   loc id  \
79    0  2010-09-01T22:36:33Z  30.310153 -97.740158  1067829
78    0  2010-09-03T00:28:30Z  30.268696 -97.745615     9313
77    0  2010-09-04T03:14:33Z  30.266891 -97.745686     9223
76    0  2010-09-04T21:32:40Z  30.244860 -97.757163    18417
75    0  2010-09-05T17:33:43Z  30.234214 -97.757571  1576090
..  ...                   ...        ...        ...      ...
9     0  2010-10-12T15:19:03Z  30.269103 -97.749395   420315
8     0  2010-10-12T15:57:20Z  30.281120 -97.745211   153505
7     0  2010-10-12T19:44:40Z  30.269103 -97.749395   420315
6     0  2010-10-12T22:02:11Z  30.267910 -97.749312    21714
5     0  2010-10-12T23:58:03Z  30.261599 -97.758581    15372

                       Dates
79 2010-09-01 22:36:33+00:00
78 2010-09-03 00:28:30+00:00
77 2010-09-04 03:14:33+00:00
76 2010-09-04 21:32:40+00:00
75 2010-09-05 17:33:43+00:00
..                       ...
9  2010-10-12 15:19:03+00:00
8  2010-10-12 15:57:20+00:00
7  2010-10-12 19:44:40+00:00
6  2010-10-12 22:02:11+00:00
5  2010-10-12 23:58:03+00:00

[75 rows x 6 columns]

In [81]:
test=df_100.copy()

In [82]:
test.reset_index

<bound method DataFrame.reset_index of     row                  Date        Lat       long   loc id  \
99    0  2010-08-21T18:10:00Z  30.244860 -97.757163    18417
98    0  2010-08-23T14:45:49Z  30.267910 -97.749312    21714
97    0  2010-08-24T16:26:53Z  30.269103 -97.749395   420315
96    0  2010-08-24T17:33:20Z  30.270734 -97.753703     9241
95    0  2010-08-25T02:03:08Z  30.263775 -97.770660     9263
..  ...                   ...        ...        ...      ...
4     0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
3     0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
2     0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
1     0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
0     0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847

                       Dates
99 2010-08-21 18:10:00+00:00
98 2010-08-23 14:45:49+00:00
97 2010-08-24 16:26:53+00:00
96 2010-08-24 17:33:20+00:00
95 2010-08-25 02:03:08+00:00
..                       ...
4  2010-10-16 18:50:42+00:00
3  2010-10-17 19:26:05+00:00
2  2010-10-17 23:42:03+00:00
1  2010-10-18 22:17:43+00:00
0  2010-10-19 23:55:27+00:00

[100 rows x 6 columns]>

In [83]:
test["df"]=0

In [85]:
test['Dates'] = (df['Dates'] - df['Dates'].shift().fillna(pd.to_datetime("00:00:00", format="%H:%M:%S")))

KeyError: 'Dates'

In [72]:
test

,row,Date,Lat,long,loc id,Dates,df
99,0,2010-08-21T18:10:00Z,30.244860,-97.757163,18417,2010-08-21 18:10:00+00:00,0
98,0,2010-08-23T14:45:49Z,30.267910,-97.749312,21714,2010-08-23 14:45:49+00:00,0
97,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,2010-08-24 16:26:53+00:00,0
96,0,2010-08-24T17:33:20Z,30.270734,-97.753703,9241,2010-08-24 17:33:20+00:00,0
95,0,2010-08-25T02:03:08Z,30.263775,-97.770660,9263,2010-08-25 02:03:08+00:00,0
...,...,...,...,...,...,...,...
4,0,2010-10-16T18:50:42Z,30.274292,-97.740523,5535878,2010-10-16 18:50:42+00:00,0
3,0,2010-10-17T19:26:05Z,30.263418,-97.757597,16516,2010-10-17 19:26:05+00:00,0
2,0,2010-10-17T23:42:03Z,30.255731,-97.763386,316637,2010-10-17 23:42:03+00:00,0
1,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,2010-10-18 22:17:43+00:00,0
0,0,2010-10-19T23:55:27Z,30.235909,-97.795140,22847,2010-10-19 23:55:27+00:00,0

In [102]:
test["df"]=test.Dates

In [103]:
test

,row,Date,Lat,long,loc id,Dates,df
99,0,2010-08-21T18:10:00Z,30.244860,-97.757163,18417,2010-08-21 18:10:00+00:00,2010-08-21 18:10:00+00:00
98,0,2010-08-23T14:45:49Z,30.267910,-97.749312,21714,2010-08-23 14:45:49+00:00,2010-08-23 14:45:49+00:00
97,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,2010-08-24 16:26:53+00:00,2010-08-24 16:26:53+00:00
96,0,2010-08-24T17:33:20Z,30.270734,-97.753703,9241,2010-08-24 17:33:20+00:00,2010-08-24 17:33:20+00:00
95,0,2010-08-25T02:03:08Z,30.263775,-97.770660,9263,2010-08-25 02:03:08+00:00,2010-08-25 02:03:08+00:00
...,...,...,...,...,...,...,...
4,0,2010-10-16T18:50:42Z,30.274292,-97.740523,5535878,2010-10-16 18:50:42+00:00,2010-10-16 18:50:42+00:00
3,0,2010-10-17T19:26:05Z,30.263418,-97.757597,16516,2010-10-17 19:26:05+00:00,2010-10-17 19:26:05+00:00
2,0,2010-10-17T23:42:03Z,30.255731,-97.763386,316637,2010-10-17 23:42:03+00:00,2010-10-17 23:42:03+00:00
1,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,2010-10-18 22:17:43+00:00,2010-10-18 22:17:43+00:00
0,0,2010-10-19T23:55:27Z,30.235909,-97.795140,22847,2010-10-19 23:55:27+00:00,2010-10-19 23:55:27+00:00

In [89]:
test['Dates']

99   2010-08-21 18:10:00+00:00
98   2010-08-23 14:45:49+00:00
97   2010-08-24 16:26:53+00:00
96   2010-08-24 17:33:20+00:00
95   2010-08-25 02:03:08+00:00
                ...
4    2010-10-16 18:50:42+00:00
3    2010-10-17 19:26:05+00:00
2    2010-10-17 23:42:03+00:00
1    2010-10-18 22:17:43+00:00
0    2010-10-19 23:55:27+00:00
Name: Dates, Length: 100, dtype: datetime64[ns, UTC]

In [91]:
i=0
print(((test['Dates'][i+1] - test['Dates'][i])).time())

AttributeError: 'Timedelta' object has no attribute 'time'

KeyError: 'df'

In [99]:
test

,row,Date,Lat,long,loc id,Dates,df
99,0,2010-08-21T18:10:00Z,30.244860,-97.757163,18417,2010-08-21 18:10:00+00:00,0
98,0,2010-08-23T14:45:49Z,30.267910,-97.749312,21714,2010-08-23 14:45:49+00:00,0
97,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,2010-08-24 16:26:53+00:00,0
96,0,2010-08-24T17:33:20Z,30.270734,-97.753703,9241,2010-08-24 17:33:20+00:00,0
95,0,2010-08-25T02:03:08Z,30.263775,-97.770660,9263,2010-08-25 02:03:08+00:00,0
...,...,...,...,...,...,...,...
4,0,2010-10-16T18:50:42Z,30.274292,-97.740523,5535878,2010-10-16 18:50:42+00:00,0
3,0,2010-10-17T19:26:05Z,30.263418,-97.757597,16516,2010-10-17 19:26:05+00:00,0
2,0,2010-10-17T23:42:03Z,30.255731,-97.763386,316637,2010-10-17 23:42:03+00:00,0
1,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,2010-10-18 22:17:43+00:00,0
0,0,2010-10-19T23:55:27Z,30.235909,-97.795140,22847,2010-10-19 23:55:27+00:00,0

In [122]:
i=97
import datetime
print((datetime.datetime.min - (test['Dates'][i+1] - test['Dates'][i])).time())

01:41:04

In [128]:
test.shape

(100, 7)

In [130]:
(test.shape[0] - 1)

99

In [152]:
import datetime
for i in range((test.shape[0] - 1)):
    #print(i,"####",(datetime.datetime.min -  (test['Dates'][i+1] - test['Dates'][i])).time())
    test['df'][i] = (datetime.datetime.min -  (test['Dates'][i+1] - test['Dates'][i])).time()
test

,row,Date,Lat,long,loc id,Dates,df
99,0,2010-08-21T18:10:00Z,30.244860,-97.757163,18417,2010-08-21 18:10:00+00:00,20:35:49
98,0,2010-08-23T14:45:49Z,30.267910,-97.749312,21714,2010-08-23 14:45:49+00:00,20:35:49
97,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,2010-08-24 16:26:53+00:00,01:41:04
96,0,2010-08-24T17:33:20Z,30.270734,-97.753703,9241,2010-08-24 17:33:20+00:00,01:06:27
95,0,2010-08-25T02:03:08Z,30.263775,-97.770660,9263,2010-08-25 02:03:08+00:00,08:29:48
...,...,...,...,...,...,...,...
4,0,2010-10-16T18:50:42Z,30.274292,-97.740523,5535878,2010-10-16 18:50:42+00:00,18:52:39
3,0,2010-10-17T19:26:05Z,30.263418,-97.757597,16516,2010-10-17 19:26:05+00:00,00:35:23
2,0,2010-10-17T23:42:03Z,30.255731,-97.763386,316637,2010-10-17 23:42:03+00:00,04:15:58
1,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,2010-10-18 22:17:43+00:00,22:35:40
0,0,2010-10-19T23:55:27Z,30.235909,-97.795140,22847,2010-10-19 23:55:27+00:00,01:37:44

In [155]:
def fun2(fromdate,fromtime,todate,totime):
    fromd=fromdate+fromtime
    tod=todate+totime
    print(test.loc[(df_100['Dates'] > fromd) & (test['Dates'] <= tod)])
    
    
fun2('2010-9-1', ' 5:00:00','2010-10-15',' 22:02:11')

    row                  Date        Lat       long   loc id  \
79    0  2010-09-01T22:36:33Z  30.310153 -97.740158  1067829
78    0  2010-09-03T00:28:30Z  30.268696 -97.745615     9313
77    0  2010-09-04T03:14:33Z  30.266891 -97.745686     9223
76    0  2010-09-04T21:32:40Z  30.244860 -97.757163    18417
75    0  2010-09-05T17:33:43Z  30.234214 -97.757571  1576090
..  ...                   ...        ...        ...      ...
9     0  2010-10-12T15:19:03Z  30.269103 -97.749395   420315
8     0  2010-10-12T15:57:20Z  30.281120 -97.745211   153505
7     0  2010-10-12T19:44:40Z  30.269103 -97.749395   420315
6     0  2010-10-12T22:02:11Z  30.267910 -97.749312    21714
5     0  2010-10-12T23:58:03Z  30.261599 -97.758581    15372

                       Dates        df
79 2010-09-01 22:36:33+00:00  21:28:18
78 2010-09-03 00:28:30+00:00  01:51:57
77 2010-09-04 03:14:33+00:00  02:46:03
76 2010-09-04 21:32:40+00:00  18:18:07
75 2010-09-05 17:33:43+00:00  20:01:03
..                       ...       ...
9  2010-10-12 15:19:03+00:00  14:57:35
8  2010-10-12 15:57:20+00:00  00:38:17
7  2010-10-12 19:44:40+00:00  03:47:20
6  2010-10-12 22:02:11+00:00  02:17:31
5  2010-10-12 23:58:03+00:00  01:55:52

[75 rows x 7 columns]

In [164]:
import datetime
test[(test["df"] > pd.to_datetime("01:00:44").time()) & (test["loc id"]== 420315)]

,row,Date,Lat,long,loc id,Dates,df
97,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,2010-08-24 16:26:53+00:00,01:41:04
94,0,2010-08-25T18:59:04Z,30.269103,-97.749395,420315,2010-08-25 18:59:04+00:00,16:55:56
81,0,2010-08-31T16:19:01Z,30.269103,-97.749395,420315,2010-08-31 16:19:01+00:00,19:21:36
73,0,2010-09-07T16:12:49Z,30.269103,-97.749395,420315,2010-09-07 16:12:49+00:00,16:05:32
72,0,2010-09-07T21:08:32Z,30.269103,-97.749395,420315,2010-09-07 21:08:32+00:00,04:55:43
71,0,2010-09-08T16:58:19Z,30.269103,-97.749395,420315,2010-09-08 16:58:19+00:00,19:49:47
60,0,2010-09-15T23:04:13Z,30.269103,-97.749395,420315,2010-09-15 23:04:13+00:00,03:46:27
53,0,2010-09-24T21:32:13Z,30.269103,-97.749395,420315,2010-09-24 21:32:13+00:00,06:33:16
49,0,2010-09-27T14:52:01Z,30.269103,-97.749395,420315,2010-09-27 14:52:01+00:00,22:08:16
40,0,2010-10-05T16:10:35Z,30.269103,-97.749395,420315,2010-10-05 16:10:35+00:00,01:24:34
9,0,2010-10-12T15:19:03Z,30.269103,-97.749395,420315,2010-10-12 15:19:03+00:00,14:57:35
7,0,2010-10-12T19:44:40Z,30.269103,-97.749395,420315,2010-10-12 19:44:40+00:00,03:47:20
1,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,2010-10-18 22:17:43+00:00,22:35:40

In [149]:
test['df'] = pd.to_datetime(test['df'])

TypeError: <class 'datetime.time'> is not convertible to datetime

In [145]:
test["df"]

99                     20:35:49
98                     01:41:04
97                     01:06:27
96                     08:29:48
95                     16:55:56
                ...
4                      00:35:23
3                      04:15:58
2                      22:35:40
1                      01:37:44
0     2010-10-19 23:55:27+00:00
Name: df, Length: 100, dtype: object

In [125]:
test

,row,Date,Lat,long,loc id,Dates,df
99,0,2010-08-21T18:10:00Z,30.244860,-97.757163,18417,2010-08-21 18:10:00+00:00,20:35:49
98,0,2010-08-23T14:45:49Z,30.267910,-97.749312,21714,2010-08-23 14:45:49+00:00,01:41:04
97,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,2010-08-24 16:26:53+00:00,01:06:27
96,0,2010-08-24T17:33:20Z,30.270734,-97.753703,9241,2010-08-24 17:33:20+00:00,08:29:48
95,0,2010-08-25T02:03:08Z,30.263775,-97.770660,9263,2010-08-25 02:03:08+00:00,16:55:56
...,...,...,...,...,...,...,...
4,0,2010-10-16T18:50:42Z,30.274292,-97.740523,5535878,2010-10-16 18:50:42+00:00,00:35:23
3,0,2010-10-17T19:26:05Z,30.263418,-97.757597,16516,2010-10-17 19:26:05+00:00,04:15:58
2,0,2010-10-17T23:42:03Z,30.255731,-97.763386,316637,2010-10-17 23:42:03+00:00,2010-10-17 23:42:03+00:00
1,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,2010-10-18 22:17:43+00:00,2010-10-18 22:17:43+00:00
0,0,2010-10-19T23:55:27Z,30.235909,-97.795140,22847,2010-10-19 23:55:27+00:00,2010-10-19 23:55:27+00:00

In [18]:
test=df_100.copy()

In [22]:
test=test.set_index("Dates")

In [23]:
test

,row,Date,Lat,long,loc id,Time
Dates,,,,,,
2010-10-19 23:55:27+00:00,0,2010-10-19T23:55:27Z,30.235909,-97.795140,22847,23:55:27
2010-10-18 22:17:43+00:00,0,2010-10-18T22:17:43Z,30.269103,-97.749395,420315,22:17:43
2010-10-17 23:42:03+00:00,0,2010-10-17T23:42:03Z,30.255731,-97.763386,316637,23:42:03
2010-10-17 19:26:05+00:00,0,2010-10-17T19:26:05Z,30.263418,-97.757597,16516,19:26:05
2010-10-16 18:50:42+00:00,0,2010-10-16T18:50:42Z,30.274292,-97.740523,5535878,18:50:42
...,...,...,...,...,...,...
2010-08-25 02:03:08+00:00,0,2010-08-25T02:03:08Z,30.263775,-97.770660,9263,02:03:08
2010-08-24 17:33:20+00:00,0,2010-08-24T17:33:20Z,30.270734,-97.753703,9241,17:33:20
2010-08-24 16:26:53+00:00,0,2010-08-24T16:26:53Z,30.269103,-97.749395,420315,16:26:53
2010-08-23 14:45:49+00:00,0,2010-08-23T14:45:49Z,30.267910,-97.749312,21714,14:45:49
2010-08-21 18:10:00+00:00,0,2010-08-21T18:10:00Z,30.244860,-97.757163,18417,18:10:00

In [25]:
test.min()

row                          0
Date      2010-08-21T18:10:00Z
Lat                    30.2314
long                  -97.8784
loc id                    8938
Time                  00:04:39
dtype: object

In [26]:
test.max()

row                          0
Date      2010-10-19T23:55:27Z
Lat                    40.7808
long                  -73.7828
loc id                 5535878
Time                  23:58:03
dtype: object

In [171]:
df_100=df_100.drop(['Date','Lat','long'],axis=1)

In [172]:
df_100

    row   loc id      Time       Dates
0     0    22847  23:55:27  2010-10-19
1     0   420315  22:17:43  2010-10-18
2     0   316637  23:42:03  2010-10-17
3     0    16516  19:26:05  2010-10-17
4     0  5535878  18:50:42  2010-10-16
..  ...      ...       ...         ...
95    0     9263  02:03:08  2010-08-25
96    0     9241  17:33:20  2010-08-24
97    0   420315  16:26:53  2010-08-24
98    0    21714  14:45:49  2010-08-23
99    0    18417  18:10:00  2010-08-21

[100 rows x 4 columns]

In [173]:
grouped = df_100.groupby('loc id')

In [176]:
print(grouped['loc id'])

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000025778066130>

In [177]:
#gb = df_100.groups

for key, item in grouped:
    print(grouped.get_group(key), "\n\n")

    row  loc id      Time       Dates
64    0    8938  16:49:55  2010-09-12


    row  loc id      Time       Dates
63    0    8964  01:13:03  2010-09-13


    row  loc id      Time       Dates
77    0    9223  03:14:33  2010-09-04


    row  loc id      Time       Dates
91    0    9225  22:47:32  2010-08-26


    row  loc id      Time       Dates
96    0    9241  17:33:20  2010-08-24


    row  loc id      Time       Dates
74    0    9263  00:07:17  2010-09-06
86    0    9263  19:16:11  2010-08-28
95    0    9263  02:03:08  2010-08-25


    row  loc id      Time       Dates
78    0    9313  00:28:30  2010-09-03


    row  loc id      Time       Dates
84    0    9508  00:11:01  2010-08-30


    row  loc id      Time       Dates
24    0   11742  21:48:37  2010-10-08


    row  loc id      Time       Dates
27    0   11794  21:43:02  2010-10-08


    row  loc id      Time       Dates
23    0   11844  01:37:03  2010-10-09


    row  loc id      Time       Dates
89    0   11934  02:40:57  2010-08-28


    row  loc id      Time       Dates
34    0   12313  20:31:48  2010-10-07


    row  loc id      Time       Dates
12    0   12973  20:20:42  2010-10-11


    row  loc id      Time       Dates
19    0   15079  21:39:26  2010-10-09
20    0   15079  21:36:05  2010-10-09


    row  loc id      Time       Dates
26    0   15169  21:43:52  2010-10-08


   row  loc id      Time       Dates
5    0   15372  23:58:03  2010-10-12


    row  loc id      Time       Dates
48    0   15590  23:47:07  2010-09-28


    row  loc id      Time       Dates
31    0   16397  23:18:10  2010-10-07


    row  loc id      Time       Dates
39    0   16431  23:02:31  2010-10-05


   row  loc id      Time       Dates
3    0   16516  19:26:05  2010-10-17


    row  loc id      Time       Dates
11    0   16907  20:21:20  2010-10-11


    row  loc id      Time       Dates
62    0   17236  18:00:26  2010-09-13


    row  loc id      Time       Dates
68    0   17526  18:05:27  2010-09-11


    row  loc id      Time       Dates
61    0   17602  19:17:46  2010-09-13


    row  loc id      Time       Dates
32    0   17710  21:58:31  2010-10-07


    row  loc id      Time       Dates
67    0   18329  18:13:13  2010-09-11


    row  loc id      Time       Dates
42    0   18417  22:21:49  2010-10-03
76    0   18417  21:32:40  2010-09-04
80    0   18417  01:08:15  2010-09-01
85    0   18417  22:27:57  2010-08-28
99    0   18417  18:10:00  2010-08-21


    row  loc id      Time       Dates
65    0   19224  22:48:18  2010-09-11


    row  loc id      Time       Dates
25    0   19822  21:45:48  2010-10-08


    row  loc id      Time       Dates
6     0   21714  22:02:11  2010-10-12
41    0   21714  14:46:01  2010-10-04
45    0   21714  14:36:39  2010-10-01
54    0   21714  14:58:57  2010-09-24
56    0   21714  22:24:27  2010-09-22
57    0   21714  20:03:48  2010-09-21
82    0   21714  20:57:25  2010-08-30
98    0   21714  14:45:49  2010-08-23


    row  loc id      Time       Dates
21    0   22806  21:05:23  2010-10-09


   row  loc id      Time       Dates
0    0   22847  23:55:27  2010-10-19


    row  loc id      Time       Dates
10    0   23261  00:21:28  2010-10-12
36    0   23261  15:27:40  2010-10-07


    row  loc id      Time       Dates
58    0   24276  02:17:22  2010-09-21
93    0   24276  00:09:46  2010-08-26


    row  loc id      Time       Dates
51    0   25151  19:21:51  2010-09-25
90    0   25151  01:12:11  2010-08-28


    row  loc id      Time       Dates
18    0   27836  22:27:07  2010-10-09


    row  loc id      Time       Dates
35    0   34484  20:14:44  2010-10-07


    row  loc id      Time       Dates
17    0   34817  23:51:10  2010-10-09


    row  loc id      Time       Dates
29    0   35513  17:24:27  2010-10-08


    row  loc id      Time       Dates
55    0   46946  23:33:37  2010-09-22


    row  loc id      Time       Dates
38    0   49215  23:11:39  2010-10-05


    row  loc id      Time       Dates
33    0   60450  21:02:01  2010-10-07


    row  loc id      Time       Dates
70    0   64830  14:25:57  2010-09-09


    row  loc id      Time       Dates
30    0   87914  00:07:48  2010-10-08


    row  loc id      Time       Dates
16    0  105068  17:47:04  2010-10-10


    row  loc id      Time       Dates
50    0  121955  16:43:45  2010-09-26


   row  loc id      Time       Dates
8    0  153505  15:57:20  2010-10-12


    row  loc id      Time       Dates
66    0  157923  18:36:30  2010-09-11


    row  loc id      Time       Dates
46    0  211286  23:23:22  2010-09-30


    row  loc id      Time       Dates
69    0  232292  18:22:04  2010-09-09


    row  loc id      Time       Dates
14    0  260957  22:00:37  2010-10-10


   row  loc id      Time       Dates
2    0  316637  23:42:03  2010-10-17


    row  loc id      Time       Dates
13    0  341255  00:06:30  2010-10-11


    row  loc id      Time       Dates
1     0  420315  22:17:43  2010-10-18
7     0  420315  19:44:40  2010-10-12
9     0  420315  15:19:03  2010-10-12
37    0  420315  23:25:34  2010-10-06
40    0  420315  16:10:35  2010-10-05
49    0  420315  14:52:01  2010-09-27
53    0  420315  21:32:13  2010-09-24
60    0  420315  23:04:13  2010-09-15
71    0  420315  16:58:19  2010-09-08
72    0  420315  21:08:32  2010-09-07
73    0  420315  16:12:49  2010-09-07
81    0  420315  16:19:01  2010-08-31
94    0  420315  18:59:04  2010-08-25
97    0  420315  16:26:53  2010-08-24


    row  loc id      Time       Dates
83    0  480992  14:17:05  2010-08-30
92    0  480992  14:11:36  2010-08-26


    row  loc id      Time       Dates
47    0  539065  00:31:24  2010-09-29


    row   loc id      Time       Dates
79    0  1067829  22:36:33  2010-09-01


    row   loc id      Time       Dates
52    0  1145567  02:00:54  2010-09-25


    row   loc id      Time       Dates
43    0  1151119  22:21:22  2010-10-02


    row   loc id      Time       Dates
22    0  1365909  20:55:47  2010-10-09


    row   loc id      Time       Dates
28    0  1567837  19:28:36  2010-10-08


    row   loc id      Time       Dates
75    0  1576090  17:33:43  2010-09-05


    row   loc id      Time       Dates
15    0  1933724  21:17:14  2010-10-10


    row   loc id      Time       Dates
88    0  2587024  03:08:50  2010-08-28


    row   loc id      Time       Dates
87    0  2587606  03:09:14  2010-08-28


    row   loc id      Time       Dates
59    0  3842712  00:04:39  2010-09-17


    row   loc id      Time       Dates
44    0  4256132  01:48:43  2010-10-02


   row   loc id      Time       Dates
4    0  5535878  18:50:42  2010-10-16

In [191]:
keys = grouped.groups.keys()
print(keys)
for i in keys: 
    #print(type(grouped.get_group(i)) )
    print(i)
    print('\n')

dict_keys([8938, 8964, 9223, 9225, 9241, 9263, 9313, 9508, 11742, 11794, 11844, 11934, 12313, 12973, 15079, 15169, 15372, 15590, 16397, 16431, 16516, 16907, 17236, 17526, 17602, 17710, 18329, 18417, 19224, 19822, 21714, 22806, 22847, 23261, 24276, 25151, 27836, 34484, 34817, 35513, 46946, 49215, 60450, 64830, 87914, 105068, 121955, 153505, 157923, 211286, 232292, 260957, 316637, 341255, 420315, 480992, 539065, 1067829, 1145567, 1151119, 1365909, 1567837, 1576090, 1933724, 2587024, 2587606, 3842712, 4256132, 5535878])
8938


8964


9223


9225


9241


9263


9313


9508


11742


11794


11844


11934


12313


12973


15079


15169


15372


15590


16397


16431


16516


16907


17236


17526


17602


17710


18329


18417


19224


19822


21714


22806


22847


23261


24276


25151


27836


34484


34817


35513


46946


49215


60450


64830


87914


105068


121955


153505


157923


211286


232292


260957


316637


341255


420315


480992


539065


1067829


1145567


1151119


1365909


1567837


1576090


1933724


2587024


2587606


3842712


4256132


5535878

In [192]:
for i , v in keys.items():
    print(i,v)

AttributeError: 'dict_keys' object has no attribute 'items'

In [206]:
for x in grouped.get_group(dict([x for x in keys])):
    print(x)

NameError: name 'dict_keys' is not defined

In [160]:
 print(df_100)

   row  loc id      Time       Dates
0    0   22847  23:55:27  2010-10-19
1    0  420315  22:17:43  2010-10-18

In [ ]:
x=df_100[

In [145]:
#df_100=df_100.set_index(df_100['loc id'])

In [155]:
df_100=df_100.drop(['Date','Lat','long'],axis=1).head(2)

KeyError: "['Date' 'Lat' 'long'] not found in axis"

In [147]:
#for x in df_100:
print(df_100.loc[df_100["loc id"]==420315],"\n")

        row  loc id      Time       Dates
loc id
420315    0  420315  22:17:43  2010-10-18

In [137]:
#df_100=df.rename(columns={'loc id': 'id'})

In [138]:
df_100

            row                  Date        Lat       long       id
0             0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1             0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2             0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3             0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4             0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
...         ...                   ...        ...        ...      ...
6442887  196578  2010-06-11T13:32:26Z  51.742988  -0.488065   906885
6442888  196578  2010-06-11T13:26:45Z  51.746492  -0.490780   965121
6442889  196578  2010-06-11T13:26:34Z  51.741916  -0.496729  1174322
6442890  196585  2010-10-08T21:01:49Z  50.105516   8.571525   471724
6442891  196585  2010-10-07T17:39:18Z  50.027812   8.785098  4555073

[6442892 rows x 5 columns]

In [140]:
#df_100=df_100.drop('loc id',axis=1).head(2)

In [126]:
df_100

        row      Time       Dates
loc id
22847     0  23:55:27  2010-10-19
420315    0  22:17:43  2010-10-18

In [149]:
def find(locid):
    print(df_100.loc[df_100["loc id"]==locid].nunique(),"\n")
    print(df_100.loc[df_100["loc id"]==locid])
    #print(screenshot.groupby(['loc id', 'Dates']).count())
find(420315)

row       1
loc id    1
Time      1
Dates     1
dtype: int64

        row  loc id      Time       Dates
loc id
420315    0  420315  22:17:43  2010-10-18

<ipython-input-81-d364514d9bda>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  screenshot['Time']=pd.to_datetime(df['Date']).dt.time

In [82]:
print(screenshot['Time'])

0     23:55:27
1     22:17:43
2     23:42:03
3     19:26:05
4     18:50:42
        ...
95    02:03:08
96    17:33:20
97    16:26:53
98    14:45:49
99    18:10:00
Name: Time, Length: 100, dtype: object

<ipython-input-83-b78579cacb73>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  screenshot['Dates'] = pd.to_datetime(df['Date']).dt.date

In [84]:
print(screenshot['Dates'])

0     2010-10-19
1     2010-10-18
2     2010-10-17
3     2010-10-17
4     2010-10-16
         ...
95    2010-08-25
96    2010-08-24
97    2010-08-24
98    2010-08-23
99    2010-08-21
Name: Dates, Length: 100, dtype: object

In [85]:


z=screenshot.groupby(['loc id', 'Dates']).count()
f=screenshot['loc id'].unique()
print(f)

[  22847  420315  316637   16516 5535878   15372   21714  153505   23261
   16907   12973  341255  260957 1933724  105068   34817   27836   15079
   22806 1365909   11844   11742   19822   15169   11794 1567837   35513
   87914   16397   17710   60450   12313   34484   49215   16431   18417
 1151119 4256132  211286  539065   15590  121955   25151 1145567   46946
   24276 3842712   17602   17236    8964    8938   19224  157923   18329
   17526  232292   64830    9263 1576090    9223    9313 1067829  480992
    9508 2587606 2587024   11934    9225    9241]

In [89]:
screenshot=screenshot.set_index(screenshot['loc id'])

In [73]:
#z.to_dict()

{'row': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'Date': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'Lat': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'long': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'Time': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,

In [93]:
for loc in screenshot:
    if loc == 15079 and :
        print(screenshot.loc[loc],"\n")
        
        
        
        
# df.loc[df['column name'] condition, 'new column name'] = 'value if condition is met'

        row                  Date        Lat       long  loc id      Time  \
loc id
15079     0  2010-10-09T21:39:26Z  40.742396 -74.007543   15079  21:39:26
15079     0  2010-10-09T21:36:05Z  40.742396 -74.007543   15079  21:36:05

             Dates
loc id
15079   2010-10-09
15079   2010-10-09

        row                  Date        Lat       long  loc id      Time  \
loc id
15079     0  2010-10-09T21:39:26Z  40.742396 -74.007543   15079  21:39:26
15079     0  2010-10-09T21:36:05Z  40.742396 -74.007543   15079  21:36:05

             Dates
loc id
15079   2010-10-09
15079   2010-10-09

In [79]:
for x in f:
    if x==15079:
        print(z["row"][x])

Dates
2010-10-09    2
Name: row, dtype: int64

In [64]:
for x in f:
    if f["loc id"]=="9223":
        print(f["Dates"])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

AttributeError: 'function' object has no attribute 'screenshot'

                    row  Date  Lat  long  Time
loc id  Dates
15372   2010-10-12    1     1    1     1     1
16516   2010-10-17    1     1    1     1     1
21714   2010-10-12    1     1    1     1     1
22847   2010-10-19    1     1    1     1     1
153505  2010-10-12    1     1    1     1     1
316637  2010-10-17    1     1    1     1     1
420315  2010-10-12    2     2    2     2     2
        2010-10-18    1     1    1     1     1
5535878 2010-10-16    1     1    1     1     1

In [32]:
print(z)

                    row  Date  Lat  long  Time
loc id  Dates
15372   2010-10-12    1     1    1     1     1
16516   2010-10-17    1     1    1     1     1
21714   2010-10-12    1     1    1     1     1
22847   2010-10-19    1     1    1     1     1
153505  2010-10-12    1     1    1     1     1
316637  2010-10-17    1     1    1     1     1
420315  2010-10-12    2     2    2     2     2
        2010-10-18    1     1    1     1     1
5535878 2010-10-16    1     1    1     1     1

In [23]:
screenshot[["Date1"],["time"]]=screenshot.Date.apply(lambda x: pd.Series(str(x).split("T")))

TypeError: unhashable type: 'list'

In [ ]:
print(df)

In [ ]:
y=df.head(10)

In [ ]:
print("hello")

In [18]:
df

            row                  Date        Lat       long   loc id
0             0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1             0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2             0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3             0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4             0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
...         ...                   ...        ...        ...      ...
6442887  196578  2010-06-11T13:32:26Z  51.742988  -0.488065   906885
6442888  196578  2010-06-11T13:26:45Z  51.746492  -0.490780   965121
6442889  196578  2010-06-11T13:26:34Z  51.741916  -0.496729  1174322
6442890  196585  2010-10-08T21:01:49Z  50.105516   8.571525   471724
6442891  196585  2010-10-07T17:39:18Z  50.027812   8.785098  4555073

[6442892 rows x 5 columns]